/* First normalize */

table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    border-collapse: collapse;
}

pre {
    margin: 0;
}

/* Then make pretty */

html {
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
}

.hori-centered {
    margin: 0 auto;
}

/* Index page */

.index {
    margin: 2rem;
}

ul {
    list-style-type: none;
    padding: 0;
    font-size: 1.2rem;
}

li {
    margin-bottom: 0.2em;
}

/* Table page */

h2 {
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

table {
    margin: 2rem 1rem;
    border-bottom: 2px solid #B2DCDE;
}

th {
    font-size: 1.4rem;
    font-weight: bold;
    padding-bottom: 0.5em;
    padding-left: 1rem;
    text-align: left;
}

td {
    padding: 1rem;
    vertical-align: middle;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.name-cell {
    font-weight: bold;
}

.code-cell {
    padding-top: 0;
    padding-bottom: 0;
}

tr:nth-child(even) {
    background-color: #B2DCDE;
}

code {
    font-family: monospace;
}

/* Thread states page */

.thread-states div {
    margin: 0 auto;
    width: content;
}

.thread-states pre {
    display: inline-block;
}